{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Story 1 PPW</title>
    <style>
        #block1 {
            padding: 30px 30px 0px 0px;
        }

        #myphoto {
            width: auto; height: 270px;
            border-radius: 50%;
            display: block;
            padding-left: 130px;
        }

        #rowdata{
            padding-left: 30px;
            text-align: justify;
            vertical-align: text-top;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width: 680px;
            
        }

        #nama {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-image: url("{% static 'background.png' %}");
            background-size: cover;
        }

        #angkatan {
            font-size: 16pt;
        }

        #deskripsi {
            font-size : 14pt;
        }

        #block2 {
            padding-left: 430px;
        }

        .pendidikan td {
            padding-bottom: 7px;
        }

        a {
            font-size: 36px;
            color:#3232e6;
        }

        .sosmed td{
            padding-right: 15px;
        }

        #block2 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

    </style>
</head>
<body>
    <div id="block1">
        <table>
            <tr>
                <td>
                    <img src="{% static '1.jpg' %}" alt="Zulfahri Haradi Hidayatullah" id="myphoto"/> 
                </td>
                <td id="rowdata">
                    <h1 id="nama">Zulfahri Haradi Hidayatullah</h1>
                    <h2 id="npm">NPM : 1906398572</h2>
                    <p id="angkatan">
                        Fakultas Ilmu Komputer <i class='fas fa-laptop-code'></i><br> Universitas Indonesia Angkatan 2019
                    </p>
                    <p id="deskripsi">
                        Saya adalah seseorang yang memiliki tingkat daya tarik terhadap berbagai hal
                        yang rendah, khususnya terhadap web developing :( tapi saya akan berusaha sekuat
                        tenaga untuk memanjakan mata para pengunjung halaman ini :D 
                    </p>
                    <p>Hobi saya ialah <del>simping vtuber</del> <ins>menonton YouTube!</ins></p>
                </td>
            </tr>
        </table>
    </div>
    <div id="block2">
        <h2>Pendidikan <i class='fas fa-graduation-cap'></i></h2>
        <table class="pendidikan">
            <tr><td>- SDN Panaragan Kidul</td></tr>
            <tr><td>- SMPN 7 Bogor</td></tr>
            <tr><td>- SMAN 5 Bogor</td></tr>
        </table>
        <h2>Media Sosial <i class="far fa-address-book"></i></h2>
        <table class="sosmed">
            <tr>
                <td>
                    <a href="https://www.instagram.com/hara.dih/" class="button"><i class="fab fa-instagram" ></i></a>
                </td>
                <td>
                    <a href="https://www.facebook.com/zulfahri.haradi.9/" class="button"><i class="fab fa-facebook" ></i></a>
                </td>
                <td>
                    <a href="https://twitter.com/sukebeaurum55" class="button"><i class="fab fa-twitter" ></i></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>